@charset "UTF-8";
@import url(//fonts.googleapis.com/css?family=Oswald:700);
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800i|Roboto:400,400i,700&effect=3d-float");
.centered {
  text-align: center; }

body {
  background-color: #DFF2F5;
  padding: 0 0 0 0; }

nav {
  background-color: #426BA5; }

.shadow {
  box-shadow: 0 0.375em 0.313em -0.313em rgba(0, 0, 0, 0.8), inset 0 0.063em rgba(255, 255, 255, 0.4), inset 0 -0.188em rgba(0, 0, 0, 0.15); }

header {
  background-color: #426BA5;
  box-shadow: 0 0.375em 0.313em -0.313em rgba(0, 0, 0, 0.8), inset 0 0.063em rgba(255, 255, 255, 0.4), inset 0 -0.188em rgba(0, 0, 0, 0.15);
  border-radius: .6em; }

.menu-button {
  display: inline-block;
  padding: .5em;
  background-color: #fafafa;
  border: 1px solid #ccc; }

.burger-icon {
  position: relative;
  margin-top: 8px;
  margin-bottom: 8px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .burger-icon, .burger-icon::before, .burger-icon::after {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #444;
    outline: 1px solid transparent;
    -webkit-transition-property: background-color, -webkit-transform;
    -moz-transition-property: background-color, -moz-transform;
    -o-transition-property: background-color, -o-transform;
    transition-property: background-color, transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s; }
  .burger-icon::before, .burger-icon::after {
    position: absolute;
    content: ""; }
  .burger-icon::before {
    top: -8px; }
  .burger-icon::after {
    top: 8px; }

.menu-button.is-active .burger-icon {
  background-color: transparent; }

.menu-button.is-active .burger-icon::before {
  -webkit-transform: translateY(8px) rotate(45deg);
  -moz-transform: translateY(8px) rotate(45deg);
  -ms-transform: translateY(8px) rotate(45deg);
  -o-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg); }

.menu-button.is-active .burger-icon::after {
  -webkit-transform: translateY(-8px) rotate(-45deg);
  -moz-transform: translateY(-8px) rotate(-45deg);
  -ms-transform: translateY(-8px) rotate(-45deg);
  -o-transform: translateY(-8px) rotate(-45deg);
  transform: translateY(-8px) rotate(-45deg); }

.subnav {
  display: none; }
  .subnav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block; }
    .subnav ul li {
      float: left;
      display: inline-block; }
      .subnav ul li a {
        display: inline-block;
        padding: 0 50px;
        line-height: 30px;
        background: #8DD1DC;
        color: #ffffff;
        text-decoration: none; }
        .subnav ul li a:hover {
          background: #2581dc;
          color: #ffffff; }
        .subnav ul li a:not(:only-child):after {
          padding-left: 4px;
          content: ' ▾'; }
      .subnav ul li ul li {
        min-width: 109px; }
        .subnav ul li ul li a {
          padding: 15px;
          line-height: 20px; }

.subnav.m-fadeIn {
  display: block; }

.flex-row {
  display: flex;
  flex-direction: row; }

.flex-col {
  display: flex;
  flex-direction: column;
  margin: 5px; }

.header-intro {
  justify-content: space-between;
  background-color: #8DD1DC;
  border-radius: .3em; }

.header-pic {
  align-items: stretch;
  background-image: url("../../res/img/haleydemosflowers.jpg");
  background-repeat: no-repeat;
  border-radius: .3em; }

.flex-one {
  flex: 3 1 0; }

.flex-two {
  flex: 4 1 0; }

.font-effect-3d-float h3 {
  color: #000000;
  font-style: italic; }

.button-pad {
  margin: 10px 10px 10px 10px; }

.btn {
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  max-width: 200px; }

.blue {
  background-color: #F6978C;
  display: inline-block;
  padding: .938em 1.875em;
  border: 0.094em solid #F6978C;
  box-shadow: 0 0.375em 0.313em -0.313em rgba(0, 0, 0, 0.8), inset 0 0.063em rgba(255, 255, 255, 0.4), inset 0 -0.188em rgba(0, 0, 0, 0.15);
  border-radius: .625em;
  test-transform: uppercase;
  test-decoration: none;
  test-shadow: 0 0.063em rgba(0, 0, 0, 0.3);
  cursor: pointer;
  font: bold 1.2rem Roboto; }
  .blue:hover {
    background-color: #f47d70;
    box-shadow: 0 0.125em rgba(255, 255, 255, 0.4), inset 0 0.063em rgba(255, 255, 255, 0.4), inset 0 -0.188em #f7a095; }
  .blue:active {
    box-shadow: inset 0 0 1.094em #472566, inset 0 0.063em #390668, inset 0 -0.188em #682CA0, 0 0.063em rgba(255, 255, 255, 0.4); }

.icons {
  align-items: flex-end;
  text-align: right;
  display: flex;
  align-self: flex-end;
  flex-direction: column; }

.social-icons {
  list-style-type: none;
  margin: 0 auto 20px;
  padding: 20px;
  width: 100%;
  background: none !important;
  align-items: flex-end;
  text-align: right; }

.social-tab {
  margin-right: 10px;
  border-radius: 0 0 25px 25px;
  float: left; }

.circle-icon {
  padding: 10px 10px;
  width: 20px;
  font-size: 20px;
  text-align: center;
  background: none;
  border-radius: 25px;
  border: solid 2px;
  box-shadow: 0 0.365em 0.213em -0.213em rgba(0, 0, 0, 0.8), inset 0 0.063em rgba(255, 255, 255, 0.4), inset 0 -0.188em rgba(0, 0, 0, 0.15); }

.fa-github {
  color: #3b5897;
  border-color: #3b5897; }

.fa-github:hover {
  background-color: #536fac; }

.fa-twitter {
  color: #33ccff;
  border-color: #33ccff; }

.fa-twitter:hover {
  background-color: #47c2eb; }

.fa-linkedin {
  color: #0e78aa;
  border-color: #0e78aa; }

.fa-linkedin:hover {
  background-color: #1d92c9; }

.screen-reader {
  position: absolute;
  left: -9999px;
  top: -9999px; }

h1 {
  font-size: 6.125em;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Montserrat", sans-serif; }

h2 {
  font-size: 2.618em; }

h3 {
  font-size: 1.931em;
  font-weight: normal;
  font-family: "Roboto", sans-serif; }

h4 {
  font-size: 1.618;
  font-family: "Roboto", sans-serif; }

h5 {
  font-size: 1.194em;
  font-family: "Roboto", sans-serif; }

h6 {
  font-size: 1em;
  font-family: "Roboto", sans-serif; }

div {
  font-family: "Roboto", sans-serif;
  font-weight: lighter; }

.button {
  font-family: Helvetica, sans-serif;
  background-color: #F6978C; }

.invis-box {
  font-size: 6em;
  color: #ffffff; }
