
@import url(//fonts.googleapis.com/css?family=Oswald:700);

$content-width: 1000px;
$breakpoint: 799px;
$nav-height: 30px;
$nav-background: $color-secondary;
$nav-font-color: #ffffff;
$link-hover-color: #2581dc;

header{
  background-color: $light-blue;
  box-shadow: 0 .375em .313em -0.313em rgba(0,0,0,.8), inset 0 .063em rgba(255,255,255,.4), inset 0 -0.188em rgba(0,0,0,.15);
}
nav {
  background-color: $light-blue;
  margin: 0;

}

//text
 #name{
   visibility: hidden;
   // overflow: hidden;
 }
 //slide in from right
.slideLeft{
	animation-name: slideLeft;
	animation-duration: 4s;
	animation-timing-function: ease;
  visibility: visible !important;

}

.menu-button {
  float: left;
	display: inline-block;
	padding: .5em;
  margin: .2em;
	background-color: #fafafa;
	border: 1px solid #ccc;
}
.nav-bar{
  background-color: $color-primary;
  // display: inline-block;
  width: 100vw;
  //give bar dimension
  box-shadow: 0 0 .613em -0.613em rgba(0,0,0,.8), inset 0 .063em rgba(255,255,255,.4), inset 0 -0.188em rgba(0,0,0,.15);
}

.burger-icon {
	@include burger(25px, 3px, 5px, #444);
}

.menu-button.is-active .burger-icon {
	@include burger-to-cross;
  // @include nav-toggle;
}


//nav menudropdown
.subnav {
  display: none;


  // float: right;
  // @include burger-parts;
  ul {

    // display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;

    li {
      float: right;
      display: inline-block;
      //position: relative;
     a {
      display: inline-block;
      padding: 0 50px;
      line-height: $nav-height;
      background: $nav-background;
      color: $nav-font-color;
      text-decoration: none;

       &:hover {
         background: $link-hover-color;
         color: $nav-font-color;
         border-radius: .3em,.3em,.3em,.3em;
       }
       &:not(:only-child):after {
         padding-left: 4px;
         content: ' ▾';
       }
     } // Dropdown list
     ul li {
       min-width: 109px;
       a {
         padding: 15px;
         line-height: 20px;
       }
     }
   }
  }
}
.subnav.m-fadeIn {
  display: block;
}


//header picture & title flexbox
.flex-row{
  display: flex;
  flex-direction: row;
}
.flex-col{
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.header-intro{
  justify-content: space-between;
  background-color: $color-secondary;
  border-radius: .3em;
}

.header-pic {
  align-items:  stretch;
  background-image: url("../../res/img/haleydemosflowers.jpg");
  background-repeat: no-repeat;
  border-radius: .3em;
}

.flex-one{
  flex: 3 1 0;
}
.flex-two{
  flex: 4 1 0;
}

.font-effect-3d-float h3{
  color: #000000;
  font-style: italic;
}
