
//icecream animation

.container {
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
  margin-bottom: 1em;

  background: #33485F;
  padding: 2em;

}
.cane > .flavor {
  position: relative;

  width: 100px;
  height: 220px;

  border-radius: 150px 150px 150px 150px;
  overflow: hidden;

  &:after {
    content: '';

    position: absolute;
    left: 21px;
    top: 30px;

    width: 20px;
    height: 30px;

    border-radius: 50px;
    background: rgba(255, 255, 255, 0.5);
  }

}

.cane > .flavor > .flavors {
  position: relative;
  top: 0%;
  left: -20%;

  width: 200%;
  height: 120%;

  background-image: linear-gradient(0deg,
    #5A93E2 25%,
    #F6978C 25%,
    #F6978C 25%,
    #F6978C 50%,
    #B8EFD6 50%,
    #B8EFD6 50%,
    #B8EFD6 75%,
    #A9DEF9 75%);
    background-position: 0px 0px;
    background-repeat: repeat-y;

  animation: flavors 100s linear infinite;
  transform: rotate(140deg);
}

@keyframes flavors {
  to {
    background-position: 0 -400vh;
  }
}






//header name animation


@keyframes slideLeft {
	0% {
		// transform: translateY(-100%);
    transform: translateX(100%);
	}

	100% {
		// transform: translateY(0%);
    transform: translateX(0);
	}
}
