$color-primary: #426BA5;
// $color-shadow: rgba($black, .125);
$color-secondary: #8DD1DC;
$color-accent1: #BEF0D9;
$color-accent2: #F6978C;
$light-blue: #DFF2F5;


//responsive sizes

$mobile-small:	240;
$mobile-large:	320;
$tablet-small:	480;
$tablet-large:	768;
$screen-small:	1024;
$screen-large:	1280;

//image paths
$imgpath: /res/img;

// @media only screen and (min-width: 42em) {
//   h1 {font-size: 6.2em;}
//   h2 {font-size: 4em;}
//   h3 {font-size: 3.125em;}
//   h4 {font-size: 2em;}
//   h5 {font-size: 1.563em;}
//   h6 {font-size: 1em;}
// }

.centered {
  text-align: center;
}
body {
  background-color: $light-blue;
  padding: 0 0 0 0;
}

nav {
  background-color: $color-primary;
  
}
