$color-primary: #426BA5;
// $color-shadow: rgba($black, .125);
$color-secondary: #8DD1DC;
$color-accent1: #BEF0D9;
$color-accent2: #F6978C;
$light-blue: #DFF2F5;


//responsive sizes

$mobile-small:	240;
$mobile-large:	320;
$tablet-small:	480;
$tablet-large:	768;
$screen-small:	1024;
$screen-large:	1280;

//image paths
$imgpath: /res/img;



.centered {
  text-align: center;
}
body {
  background-color: $light-blue;
  padding: 0 0 0 0;
}

nav {
  background-color: $color-primary;

}

.shadow {
  box-shadow: 0 .375em .313em -0.313em rgba(0,0,0,.8), inset 0 .063em rgba(255,255,255,.4), inset 0 -0.188em rgba(0,0,0,.15);
}
.margin5{
  margin: 5em;
}
